h1 {
    color:rgb(255, 17, 0);
    background-color: rgb(251, 250, 252);
    font-size:xx-large;
    
}
h2{
    color:red;
}
body {
    background-color:rgb(249, 252, 249);
}
.header ul{
    display:flex;
    }

 .header{
        background-color: rgb(245, 10, 10);
        height: 70px;
        }
        .header li{
            list-style:none;
            padding:20px 30px;
            color: white;
            }
.div1 ul{
    padding-left:0px;
}

